// ====================================
// 404
// ====================================
.not-found {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    .text {
        margin: 0;
        font-size: 120px;
        font-weight: 500;
    }
    .go-back {
        margin: 0;
        font-size: 32px;
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
}
