// ====================================
// Content
// ====================================
.content {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    padding: var(--gap);
    // margin: auto;

    h1 {
        font-size: 32px;
    }

    ul{
        list-style-type: circle;
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }
}
