// ====================================
// Content
// ====================================
.content {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    padding: var(--gap);
    // margin: auto;

    h1 {
        font-size: 32px;
    }

    ul{
        list-style-type: circle;
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }

    .post-header {
        margin-top: 24px;
        margin-bottom: var(--content-gap);
    }
    .post-title {
        margin-bottom: 2px;
        font-size: 40px;
        transform: translateX(-2px);
    }
    .post-meta {
        color: var(--secondary);
        font-size: 14px;
    }
    .post-content {
        color: var(--content);
        h1 {
            margin-top: 40px;
            margin-bottom: 32px;
            font-size: 40px;
        }
        h2 {
            margin-top: 32px;
            margin-bottom: 24px;
            font-size: 32px;
        }
        h3, h4, h5, h6 {
            margin-top: 24px;
            margin-bottom: 16px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 16px;
        }
        h5 {
            font-size: 14px;
        }
        h6 {
            font-size: 12px;
        }
        a {
            color: var(--link);
            text-decoration: none;
            code {
                margin-left: 0;
                margin-right: 0;
                border-radius: 0;
            }
        }
        a:hover {
            color: var(--link);
            text-decoration: none;
            border-bottom: 1px solid var(--link-ul);
        }
        del {
            text-decoration: none;
            background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50% / 1px 1px repeat-x;
        }
        p, ul, ol, dl {
            margin-bottom: var(--content-gap);
        }
        ul, ol {
            padding-left: 20px;
        }
        ul {
            pre {
                margin-left: calc(var(--gap) * -2);
            }
        }
        li {
            margin-top: 5px;
            p {
                margin-bottom: 0;
            }
        }
        dl {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }
        dt {
            width: 25%;
            font-weight: 700;
        }
        dd {
            width: 75%;
            margin-left: 0;
            padding-left: 10px;
        }
        dt ~ dt, dd ~ dd {
            margin-top: 10px;
        }
        table {
            margin-bottom: 32px;
            table th, table:not(.highlighttable) td {
                min-width: 80px;
                padding: 12px 8px;
                line-height: 1.5;
                border-bottom: 1px solid var(--border);
            }
            th {
                font-size: 14px;
                text-align: left;
            }
        }
        table:not(.highlighttable) td code:only-child {
            margin-left: 0;
            margin-right: 0;
        }
        .highlighttable {
            table-layout: fixed;
            td:first-child {
                width: 40px;
            }
            td {
                .linenodiv {
                    padding-right: 0 !important;
                }
            }
            td .linenodiv pre, td .highlight {
                margin-bottom: 0;
            }
            td .highlight pre code::-webkit-scrollbar {
                display: none;
            }
        }
        /* inline */
        .highlight {
            margin-left: calc(var(--gap) * -1);
            margin-right: calc(var(--gap) * -1);
            margin-bottom: 32px;
            background: var(--hljs-bg) !important;
            border-radius: var(--radius);
            pre {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
            span {
                background: transparent !important;
            }
        }

        code {
            margin-left: 4px;
            margin-right: 4px;
            padding: 4px 6px;
            font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
            font-size: 0.78em;
            line-height: 1.5;
            background: var(--code-bg);
            border-radius: 2px;
        }
        pre {
            margin-left: calc(var(--gap) * -1);
            margin-right: calc(var(--gap) * -1);
            margin-bottom: 32px;
            background: var(--hljs-bg) !important;
            border-radius: var(--radius);
            code {
                display: block;
                margin-left: 0;
                margin-right: 0;
                padding: var(--gap);
                color: rgba(255, 255, 255, 0.8);
                background: transparent;
                border-radius: 0;
            }
        }
        blockquote {
            margin: 0 0 0 calc(var(--gap) * -1);
            padding: 0 0 0 21px;
            border-left: 3px solid var(--primary);
        }
        hr {
            height: 1px;
            margin-top: 56px;
            margin-bottom: 56px;
            background: var(--tertiary);
            border-top: 0;
            border-bottom: 0;
        }
        iframe {
            max-width: 100%;
        }
    }
    .post-footer {
        margin-top: 56px;
    }
    .post-tags {
        li {
            display: inline-block;
        }
        li + li {
            margin-left: 3px;
        }
        a {
            display: block;
            padding-left: 14px;
            padding-right: 14px;
            color: var(--secondary);
            font-size: 14px;
            line-height: 34px;
            background: var(--code-bg);
            border-radius: 4px;
        }
        a:hover {
            background: var(--border);
        }
    }
}
