// ====================================
// Footer
// ====================================
.footer {
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    max-width: calc(var(--main-width) + var(--gap) * 2);
    color: var(--secondary);
    font-size: 12px;
    text-align: center;
    line-height: 24px;

    span {
        margin-left: 1px;
        margin-right: 1px;
    }

    a {
        color: inherit;
    }

    a:hover {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
    }
}
