// ====================================
// Section
// ====================================
.section {
    .page-list {
        ul{
            list-style-type: circle;
            list-style-position: inside;
            margin: 0;
            padding: 0;
        }
    }
}
