@import 'var';
@import 'reset';

@import 'header';
@import 'section';
@import 'content';
@import 'footer';
@import '404';

.container {
    width: 90%;
    margin: auto;
    padding: 3px;
    background: var(--bg);

}
