<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <!-- Enable responsiveness on mobile devices-->
            <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

            <!-- Standard meta tags -->
        {% if page.extra.author %}<meta name="author" content="{{ page.extra.author }}">{% endif %}
        {% if page.summary %}<meta name="description" content="{{ page.summary | markdown(inline=true) }}">{% endif %}

            <!-- CSS -->
        <link rel="stylesheet" href="{{ get_url(path="main.css") }}"/>
    </head>
    <body>
        {% block body %}
        <div class="container">
            <div class="header">
            {% include "header.html" %}
            </div>

            <div class="content">
            {% block content %}
                <h1 class="post-header">Welcome to Atalazer's Blogs</h1>
            {% endblock content %}
            </div>

            <footer class="footer">
            {% include "footer.html" %}
            </footer>
        </div>
        {% endblock body %}
        <script src="script/main.js"></script>
    </body>
</html>
